@model IEnumerable<PaperwoffNet.Infrastructure.Users>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped projects dt-responsive nowrap">
    <thead>
        <tr role="row">
            <th class="sorting_desc" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-sort="descending">
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th class="sorting_desc" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-sort="descending">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="sorting_desc" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-sort="descending">
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th class="sorting_desc" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-sort="descending">
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th class="sorting_desc" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-sort="descending">
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th class="sorting_desc" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-sort="descending">
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th class="sorting_desc" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-sort="descending">
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th class="sorting_desc" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-sort="descending">
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th class="sorting_desc" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-sort="descending">
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th class="sorting_desc" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-sort="descending">
                @Html.DisplayNameFor(model => model.RoleIdRoleNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleIdRoleNavigation.NombreRol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUser" class="btn btn-outline-primary btn-sm">
                    <i class="fa fa-paw"></i>
                    Edit
                </a>
                <a asp-action="Details" asp-route-id="@item.IdUser" class="btn btn-info btn-sm">
                    <i class="fa fa-circle"></i>
                    Details
                </a>
                <a asp-action="Delete" asp-route-id="@item.IdUser" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
