@model IEnumerable<PaperwoffNet.Infrastructure.DetalleFactura>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped projects dt-responsive nowrap">
    <thead>
        <tr role="row">
            <th>
                @Html.DisplayNameFor(model => model.CantidadHoras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AsignaturaIdAsignaturaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacturaIdFacturaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadHoras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AsignaturaIdAsignaturaNavigation.NombreAsignatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacturaIdFacturaNavigation.IdFactura)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetalleFactura" class="btn btn-outline-primary btn-sm">
                    <i class="fa fa-paw"></i>
                    Edit
                </a>
                <a asp-action="Details" asp-route-id="@item.IdDetalleFactura" class="btn btn-info btn-sm">
                    <i class="fa fa-circle"></i>
                    Details
                </a>
                <a asp-action="Delete" asp-route-id="@item.IdDetalleFactura" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
