@model PaperwoffNet.Infrastructure.Asignaturaxtutor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Asignaturaxtutor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsignaturaIdAsignaturaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsignaturaIdAsignaturaNavigation.IdAsignatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TutoresIdTutoresNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TutoresIdTutoresNavigation.IdTutores)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAxT">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
