@model IEnumerable<PaperwoffNet.Infrastructure.Estudiantes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped projects dt-responsive nowrap">
    <thead>
        <tr role="row">
            <th>
                @Html.DisplayNameFor(model => model.Grado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acudiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CelularAcudiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersIdUserNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acudiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CelularAcudiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsersIdUserNavigation.Nombre)&nbsp;
                @Html.DisplayFor(modelItem => item.UsersIdUserNavigation.Apellidos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEstudiantes" class="btn btn-outline-primary btn-sm">
                    <i class="fa fa-paw"></i>
                    Edit
                </a>
                <a asp-action="Details" asp-route-id="@item.IdEstudiantes" class="btn btn-info btn-sm">
                    <i class="fa fa-circle"></i>
                    Details
                </a>
                <a asp-action="Delete" asp-route-id="@item.IdEstudiantes" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
