@model IEnumerable<PaperwoffNet.Infrastructure.Estudiantes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acudiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CelularAcudiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersIdUserNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acudiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CelularAcudiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsersIdUserNavigation.IdUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEstudiantes">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEstudiantes">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEstudiantes">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
