@model PaperwoffNet.Infrastructure.BolsaPagos

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BolsaPagos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAbonos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAbonos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDescuentos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDescuentos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstudiantesIdEstudiantesNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstudiantesIdEstudiantesNavigation.IdEstudiantes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdBolsaPagos">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
