@model PaperwoffNet.Infrastructure.Tutorias

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Tutorias</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadHoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadHoras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsignaturaIdAsignaturaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsignaturaIdAsignaturaNavigation.IdAsignatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstudiantesIdEstudiantesNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstudiantesIdEstudiantesNavigation.IdEstudiantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoClaseIdTipoClaseNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoClaseIdTipoClaseNavigation.IdTipoClase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TutoresIdTutoresNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TutoresIdTutoresNavigation.IdTutores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsersIdUserNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsersIdUserNavigation.IdUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VirPresIdVirPresNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VirPresIdVirPresNavigation.IdVirPres)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTutorias">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
