@model IEnumerable<PaperwoffNet.Infrastructure.Tutorias>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped projects dt-responsive nowrap">
    <thead>
        <tr role="row">
            <th class="sorting_desc" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-sort="descending">
                @Html.DisplayNameFor(model => model.Transporte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadHoras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AsignaturaIdAsignaturaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstudiantesIdEstudiantesNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoClaseIdTipoClaseNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TutoresIdTutoresNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersIdUserNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VirPresIdVirPresNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="sorting_desc" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-sort="descending">
                @Html.DisplayFor(modelItem => item.Transporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadHoras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AsignaturaIdAsignaturaNavigation.NombreAsignatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstudiantesIdEstudiantesNavigation.UsersIdUserNavigation.Nombre)&nbsp;
                @Html.DisplayFor(modelItem => item.EstudiantesIdEstudiantesNavigation.UsersIdUserNavigation.Apellidos)
            </td>
            <td class="sorting_desc" aria-controls="datatable-responsive" rowspan="1" colspan="1" aria-sort="descending">
                @Html.DisplayFor(modelItem => item.TipoClaseIdTipoClaseNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutoresIdTutoresNavigation.UsersIdUserNavigation.Nombre)&nbsp;
                @Html.DisplayFor(modelItem => item.TutoresIdTutoresNavigation.UsersIdUserNavigation.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsersIdUserNavigation.Nombre)&nbsp;
                @Html.DisplayFor(modelItem => item.UsersIdUserNavigation.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VirPresIdVirPresNavigation.Descrip)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTutorias" class="btn btn-outline-primary btn-sm">
                    <i class="fa fa-paw"></i>
                    Edit
                </a>
                <a asp-action="Details" asp-route-id="@item.IdTutorias" class="btn btn-info btn-sm">
                    <i class="fa fa-circle"></i>
                    Details
                </a>
                <a asp-action="Delete" asp-route-id="@item.IdTutorias" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
